@tailwind base;
@tailwind components;
@tailwind utilities;

/* 'blue': '#4f23f1',
'purple': '#8a6df2',
'grey': '#b3b3b3', */

@font-face {
  font-family: Manrope;
  src: url('Manrope-Bold.ttf');
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
